<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <title>Tarta warzywniak</title>
  </head>
  <body>
    <header>
      <a href="{{ url_for('recipes') }}" class="back-arrow">←</a>
      <img
        src="{{ url_for('static', filename='images/tarty/4BC88818-CFDE-4F1B-9E7F-96703AA64854_1_105_c.jpeg') }}"
        alt="Tort Straciatella"
        class="recipe-header-image"
      />
      <h1 class="recipe-title">Tarta warzywniak</h1>
    </header>
    <article>
      <p class="recipe-intro">
        Ze wszystkimi warzywami świata, te z nich pieczęce się dłużej niż ciasto trzeba niestety wstawić do piekarnika wcześniej.
      </p>
    </article>
  </body>
</html>